@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
}

.pai {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBg{ 
    background: #959595;
}

.whiteBg{
    background: #252525;
}

.container {
    width: 49.5rem;
    height: 46rem;
    border-radius: 2.5%;
}

.mainForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    margin-top: 1rem;
    font-size: 3.6rem;
    color: #FF9A29;
}

.display {
    width: 45.5rem;
    background: #418114;
    height: 5.5rem;
    margin: 2rem 2rem 2.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 3.5rem;
    color: #f5982f;
    text-align: right;
    padding: 0.2rem 0.5rem 1.5rem 1rem;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;

}

.setGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 0.5rem;
}

.tecla {
    height: 5rem;
    width: 11rem;
    font-size: 3rem;
    background: #b3cbdb;
    border-radius: 0.5rem;
    color: #252525;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
}

footer {
    width: 100%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 0.7rem;
}

.heart {
    color: #ca3a3a
}

.tecla:hover {
    background: #81919b;
}

@media (max-width: 500px) {
    .container {
        width: 37.5rem;
    }
    .tecla {
        width: 8rem;
    }
    .visor {
        width: 33.5rem;
    }
}

@media (max-width: 395px) {
    .container {
        width: 29.5rem;
    }
    .tecla {
        width: 6rem;
    }
    .visor {
        width: 25.5rem;
    }
}
